# Postgres
POSTGRES_USER=<postgres-user> 
POSTGRES_PASSWORD=<user-password>
POSTGRES_DB=<db>


#AIRFLOW WEB
_AIRFLOW_WWW_USER_USERNAME=<web-user-login>
_AIRFLOW_WWW_USER_PASSWORD=<web-user-password>

# DAGS
DAGS_HOST_PATH=<PATH TO DAGS FOLDER>